body {
    padding-top: 83px;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.page-header {
    margin: 20px 0 !important;
}

.profile-image {
    max-height: 23px;
    width: auto;
    vertical-align: bottom;
    float: left;
    margin-right: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
 }